body{
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;
    background-color: #12539a;
    font-family: system-ui, sans-serif;
    /* justify-content: center;
    align-items: center; */
    color: white;
  }
  
  header{
    /* background-color: yellow; */
    padding: 2rem;
    grid-column: 1 / 4;
  }
  
  .left-sidebar {
    /* background-color: pink; */
    grid-column: 1 / 2;
  }
  
  canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  main {
    grid-column: 2 / 3;
  }
  
  .right-sidebar {
    /* background-color: green; */
    grid-column: 3 / 4;
  }
  
  .left-sidebar,
  .right-sidebar {
    padding: 1rem;
  }